body
{
margin:0;
text-align: center;
font-family:'Merriweather',serif;

}
h1
{
  color: #A03C78;
  margin:50px auto 0 auto;
font-family: 'Sacramento',cursive;
font-size:526.5%;
line-height: 2;
} /*1em=16px=100%=1rem (rem is for not getting overrided by the parent tag font size)*/
 h2
 {
   color: #A03C78;
   font-family: 'Montserrat', sans-serif;
font-size:2.5rem;
}
h3{
  color: #F43B86;
}
.Subtitle {
  font-weight:normal;

}
.top-container
 {background-color:#F0D9E7;
   position: relative;
   padding-top:100px;


  }
.middle-container
  {
  background-color:#F0D9E7;
}
.bottom-container
  {
background-color:#F0D9E7;
}

.cloud1{
  position:absolute;
top:50px;
right: 300px;
}

.cloud2{
  position:absolute;
left:300px;
bottom: 300px;
}

.profile_picture{
  border-radius: 50%;


}
.First_skill{
  border-radius: 50px;
  max-width: 50%;

}
.Second_skill {
  border-radius: 40px;
  max-width: 50%;
}
a{
  color: #F43B86}
